@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.loadingText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.letter {
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    animation: bounce 1s ease-in-out infinite;
    transform-origin: bottom;
    font-family: "Sour Gummy", sans-serif;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(10px);
    }
}